out_to_x no
own_window no
out_to_console yes
background no
max_text_width 0

# Update interval in seconds
update_interval 2.0

# This is the number of times Conky will update before quitting.
# Set to zero to run forever.
total_run_times 0

# Shortens units to a single character (kiB->k, GiB->G, etc.). Default is off.
short_units yes

# How strict should if_up be when testing an interface for being up?
# The value is one of up, link or address, to check for the interface
# being solely up, being up and having link or being up, having link
# and an assigned IP address.
if_up_strictness address

# Add spaces to keep things from moving about?  This only affects certain objects.
# use_spacer should have an argument of left, right, or none
use_spacer left

# Force UTF8? note that UTF8 support required XFT
override_utf8_locale no

# number of cpu samples to average
# set to 1 to disable averaging
cpu_avg_samples 2

# Stuff after 'TEXT' will be formatted on screen

lua_load ~/.config/i3/configs/conky/conky.lua

TEXT

# JSON for i3bar

 [
  ${lua_parse i3_wifi}
  #${lua_parse i3_lan}
  #{"full_text": "${exec php ~/.config/i3/google-play.php}","interval":2,"border":"\#C1C1C1","border_bottom":0,"border_left":0,"border_right":0,"border_top":2},
  ${lua_parse i3_volume}
  ${lua_parse i3_keyboard_lid}
  ${lua_parse i3_ram}
  ${lua_parse i3_cpu}
  ${lua_parse i3_battery}
  {"full_text": " ${time %d/%m/%y %H:%M}", "interval": 1, "color":"\#C1C1C1","border":"\#C1C1C1","border_bottom":0,"border_left":0,"border_right":0,"border_top":2}
],
